body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: #75a3fd;
  margin: 0px auto;
  width: 80%;
  max-width:1200px;
}

.navbar {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

.navbar h1 {
  color: #385898;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #385898;
  font-weight: bold;
  margin-right: 20px;
}

.navbar ul li a:hover {
  opacity: 0.6;
}

.todos ul {
  padding: 0 40px 10px 40px;
  list-style: none;
}

.todos li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos li div {
  font-size: 16px;
  color: navy;
  font-weight: 500;
  letter-spacing: 2px;
}

.todos li div:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

form{
  align-items: center;
  text-align: center;
  margin:2rem 0;
}


input[type="text"]{
  padding:0.4rem 2rem;
  width:22rem;
  height: 3rem;
  font-size: 1.4rem;
  outline:none;
  border: 1px solid #aaaaaa;
  margin-right: 2rem;
  border-radius: 4px;
  color:navy;
  box-shadow:5px 5px 5px #aaaaaa;
}


.hiddenInput{
  display:none;
}

::placeholder {
  color: #cccccc;
  opacity: 1; /* Firefox */
  font-size: 1.2rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #cccccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #cccccc;
}

input[type="submit"]{
  text-align: center;
  color: navy;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid navy;
  font-weight: bold;
  outline: none;
}

input[type="submit"]:hover{
  opacity: 0.7;
}

.delete-btn {
  text-align: center;
  color: navy;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid navy;
  font-weight: bold;
}

.delete-btn:hover {
  opacity: 0.7;
}
